<launch>
    <!-- Load shared resources -->
    <include file="$(find omniroute_operation)/launch/shared_resources.launch"/>

    <!-- Run the gate_manuscript_testing node -->
    <node name="gate_manuscript_testing_node" pkg="omniroute_operation" type="gate_manuscript_testing.py" output="screen"/>
</launch>
