<launch>

  <!-- Include the shared resources launch file -->
  <include file="$(find omniroute_operation)/launch/shared_resources.launch" />

  <!-- Node start delays (sec) -->
  <arg name="pseudorandom_control_node_start_delay" default="1.0" />

  <!-- Single T-maze interface -->
  <node name="pseudorandom_control" pkg="omniroute_operation" type="pseudorandom_control"
    output="screen" launch-prefix="bash -c 'sleep $(arg pseudorandom_control_node_start_delay); $0 $@' " />

</launch>