<launch> 
    <!-- Parameters Used -->
    <!-- name is any custom name -->
    <!-- pkg is the name of the ROS Package -->
    <!-- type is the name of the node(executable) defined prior -->
    <!-- output = screen displays the output on the terminal Default is ROS_LOG -->
    <!-- launch-prefix gives instructions as to how to launch the node -->

    <param name="ethercat_adapter_name" type="str" value="enp4s0f1" />
    <param name="maze_ard0_ease_slave_index" type="int" value="0" />

    <!-- Esmacat Node -->
    <node name = "Esmacat_application_node" pkg = "nc4_esmacat_ros" type = "ros_esmacat_node" output = "screen" launch-prefix="ethercat_grant"/>
    
    <!-- Wall operation test -->
    <node name = "Wall_test_node" pkg = "omniroute_operation" type = "wall_controller.py" output = "screen"/>

</launch>
