__pycache__/
devel/
build/
src/esmacat_master_software/build/
src/plog/build/
/.vscode/
src/CMakeLists.txt
.vscode/
.ini/
arduino/arduino_sketches/Maze_Wall_Operation/platformio.ini
arduino/arduino_sketches/QC_Testing/platformio.ini
arduino/arduino_sketches/QC_Testing/platformio.ini
