<library path="src">
  <class name="OmnirouteController"
    type="omniroute_controller.omniroute_controller_interface.Interface"
    base_class_type="rqt_gui_py::Plugin">
    <description>
        An rqt-based GUI for testing the functionality of the Omniroute maze.
    </description>
    <qtgui>
      <group>
        <label>omniroute_operation</label>
      </group>
      <label>Omniroute Interface</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to test functioning of Omniroute</statustip>
    </qtgui>
  </class>
  <class name="ExperimentController"
    type="experiment_controller.experiment_controller_interface.Interface"
    base_class_type="rqt_gui_py::Plugin">
    <description>
        An rqt-based GUI for controlling experiment phases in maze.
    </description>
    <qtgui>
      <group>
        <label>omniroute_operation</label>
      </group>
      <label>Experiment Controller</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to test functioning of Omniroute</statustip>
    </qtgui>
  </class>
  <class name="SingleTmaze" type="single_T_maze.single_T_maze_interface.Interface"
    base_class_type="rqt_gui_py::Plugin">
    <description>
      An rqt-based GUI for controlling single T maze experiment phases in maze.
    </description>
    <qtgui>
      <group>
        <label>omniroute_operation</label>
      </group>
      <label>Single T maze</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to test functioning of Single T maze</statustip>
    </qtgui>
  </class>
  <class name="RuleBasedExperiment"
    type="rule_based_experiment.rule_based_experiment_interface.Interface"
    base_class_type="rqt_gui_py::Plugin">
    <description>
      An rqt-based GUI for controlling dynamic trianing experiment phases in maze.
    </description>
    <qtgui>
      <group>
        <label>omniroute_operation</label>
      </group>
      <label>Rule Based Experiment</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to test functioning of Rule Based Experiment</statustip>
    </qtgui>
  </class>
  <class name="DynamicTrainingController"
    type="dynamic_training_controller.dynamic_training_controller_interface.Interface"
    base_class_type="rqt_gui_py::Plugin">
    <description>
      An rqt-based GUI for controlling dynamic trianing experiment phases in maze.
    </description>
    <qtgui>
      <group>
        <label>omniroute_operation</label>
      </group>
      <label>Dynamic Training Controller</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to test functioning of Dynamic Training Controller</statustip>
    </qtgui>
  </class>
</library>
