<library path="src">
  <class name="OmnirouteController" type="omniroute_controller.interface.Interface" base_class_type="rqt_gui_py::Plugin">
    <description>
        An rqt-based GUI for testing the functionality of the Omniroute maze.
    </description>
    <qtgui>
      <group>
        <label>omniroute_operation</label>
      </group>
      <label>Omniroute Interface</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to test functioning of Omniroute</statustip>
    </qtgui>
  </class>
  <class name="ExperimentController" type="experiment_controller.interface.Interface" base_class_type="rqt_gui_py::Plugin">
    <description>
        An rqt-based GUI for controlling experiment phases in maze.
    </description>
    <qtgui>
      <group>
        <label>omniroute_operation</label>
      </group>
      <label>Experiment Controller</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to test functioning of Omniroute</statustip>
    </qtgui>
  </class>
</library>
